rabbitmq:
  lookup:
  configuration:
    rabbit:
      cluster_partition_handling: autoheal
  users:
    - name: rabbituser
      state: present
      settings:
        tags:
          - some
          - tags
        password: Ch@nge3m3!
  vhosts:
    - name: rabbitvhost
      state: present
      settings:
        user: rabbituser
        owner: rabbituser
