{% set rabbitmq = salt['grains.filter_by']({
    'default': {
        'service': 'rabbitmq-server',
        'conf_file': '/etc/rabbitmq/rabbitmq.conf',
        'fd_limit': 100000,
        'plugins': [
            {'name': 'rabbitmq_management',
             'state': 'enabled'},
            {'name': 'rabbitmq_peer_discovery_consul',
             'state': 'enabled'}
        ],
        'reload_delay': 10
    },
    'Debian': {
        'esl_repo_pkg': 'esl-erlang_20.3-1~debian~stretch_amd64.deb',
        'pkg_suffix': '_all.deb',
        'version': '3.7.4-1',
        'erlang_version': '1:20.1',
    },
    'RedHat': {
        'esl_repo_pkg': 'esl-erlang_15.b.3-1~fedora~beefymiracle_amd64.rpm',
        'pkg_suffix': '.el7.noarch.rpm',
        'version': '3.7.4-1.el7',
        'erlang_version': '20.1'
    },
}, grain='os_family', merge=salt.pillar.get('rabbitmq:overrides'), base='default') %}
